 .container-1 {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 50%;
 }

 .text-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 10px;
    top: -20px;
 }
 .job-title {
    color: #6A9C89;
    font-size: 30px;
    top: 145px;
    padding-left: 20px;
    right: -135px;
    position: relative;
 }
 
 #name {
    padding-right: 20px;
    padding-left: 20px;
    color: #FFFADD;
    padding-right: 75%;
    display: inline-block; 
    font-size: 30px;
} 

a:hover {
    color: #FFFADD;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger; 
}

a {
    color:#FFFADD; 
    float: right; 
    font-size: x-large;
}

#home {
    padding-left: 30px;

}

#about {
    padding-left: 30px;
}  


#portfolio {
     padding-left: 30px; 
}
#contact {
    padding-left: 30px; 
}


ul {
    
    margin: 0;
    padding: 0;
    padding-left: 75%;  
  } 

#pro-pic {
    padding-top: 90px;
    padding-left: 20px;
}
nav {
background-color: #CD5C08;
position: fixed;
top: 0;
width: 100%;
left: 0;


   
}

li {
    display: inline-block; 
    
}


 
#imge {
   float: left; 
   max-width: 25%;
   max-height: 25%;

}


.quote {
    display: flex;
    align-items: center; 
    justify-content: center;
    color:#6A9C89;
    font-family: cursive;
    font-size: 75px;
    width: 75%;
    position: relative;
    right: 40px;
    top:40px;
    
    margin: auto;
}

.hiking {
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 20px;
     margin-top: 100px;
    width: 60%;
    background-color: #113946;
    
}

.interest-img {
    float: left; 
   padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

#title {
    font-size: 30px;
    color:#FFFADD; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#interest-section {
    background-color: #113946;
    display: flex; 
    align-items: center; 
    justify-content: center;

}

#about-paragraph {
    color: #EAD7BB;

}

.title-page {
    margin-top: 250px;
    font-size: 30px;
    color: #113946;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;

}
.portfolio-section {
    margin: auto;
    width: 60%;
    border: 3px solid #BCA37F;
      padding: 85px 24px 96px;
      box-shadow: 0 0 12px -2px black;
      background-color: #EAD7BB
}
#project-title {
    font-size: 30px;
    color: #113946;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.paragraph-text {
    float: left; 
    color:#BCA37F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display:inline-block;

}

.email-logo {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-right: 100px;
}


.flogo {
    display: flex;
    align-items: center; 
    justify-content: center;
   
}

.container-project {
    background-color: #6A9C89;
    width: 75%;
    border-radius: 10px;
    border: 10px solid #6A9C89;;
    align-items: center;
    margin: 10%;
    padding: 50px; 
    display: grid;
    grid-template-rows: repeat(3,2fr);
    grid-template-areas: 
    "box-project-1 paragraph-text1 paragraph-text1"
    "paragraph-text2 paragraph-text2 paragraph-text2";
    grid-gap: 50px;
    height: 75%;
    
    
}
.paragraph-text {
    color: #C1D8C3;

}
.image-2 {
    padding-left: 30px;
    flex:30%;
}

.box-project-1 {
    grid-gap: 50px;
}